<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <h2>Order Successful 🎉</h2>
    <p>Congratilations you Purchase The product of <strong><%=totalprice%></strong>.</p>
    <p>Payment Mode: <strong> Cash On Delivery </strong></p>
    <a href="/">
        <button style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            Back to Home
        </button>
    </a>
    
</body>
</html>
